<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--/*/ <th:block th:include="fragments/cabecalho :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
	     <!--  INCLUI OS TEMPLATES CONTENDO O MENU E OS MODAIS DE AUTORES -->
	     <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

	     <h2>Dados do Autor</h2>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="form-group">
					<label for="primeiroNome">Nome:</label> 
					<span th:text="|${autor.nome}|">Nome</span>
				</div>
				<div class="form-group">
					<label for="tipoRecurso">País:</label> 
					<span th:text="${autor.pais}">País</span>
				</div>
				<div class="form-group">
					<label for="tipoRecurso">Livros:</label>
					<ul th:each="livro : ${autor.livros}">
						<li th:text="${livro.titulo}">Título</li>
					</ul> 
				</div>
			</div>
		</div>
		<p></p>
		<a th:href="@{../autor/buscar}">Retornar para a lista de autores</a>
	</div>  <!--  fim do container -->
		
	<!--  INCLUI O RODAPÉ DA PÁGINA -->
	<!--/*/ <th:block th:include="fragments/rodape :: footer"></th:block> /*/-->
		
	
	
</body>
</html>
